 .u-section-1 {
  background-image: url("/images/12-Alta-1-scaled.jpg");
  background-position: 50% 34.69%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }
} .u-section-2 {
  min-height: 63px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  margin-top: 30px;
  margin-bottom: 30px;
}.u-section-3 .u-sheet-1 {
  min-height: 113px;
}

.u-section-3 .u-text-1 {
  margin: 30px auto;
}.u-section-4 .u-sheet-1 {
  min-height: 1151px;
}

.u-section-4 .u-text-1 {
  margin: 0;
} .u-section-5 {
  min-height: 63px;
}

.u-section-5 .u-line-1 {
  transform-origin: left center;
  margin-top: 30px;
  margin-bottom: 30px;
}