.u-section-1 .u-sheet-1 {
  min-height: 113px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 30px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 1153px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}