.u-section-1 .u-sheet-1 {
  min-height: 166px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 89px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 30px;
  margin-top: 30px;
}.u-section-3 .u-sheet-1 {
  min-height: 1442px;
}

.u-section-3 .u-text-1 {
  margin: 0 0 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}