.u-section-1 .u-sheet-1 {
  min-height: 112px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto;
} .u-section-2 {
  min-height: 23px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  margin-top: 10px;
  margin-bottom: 10px;
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}